<!-- Top Navigation Bar  -->
<nav class="navbar navbar-expand bg-success navbar-dark shadow-sm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">

    </button>
    <div class="collapse navbar-collapse" id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Ubuntu Postgraduate</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Change Application</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Close Session</a> </li>
      </ul>
    </div>
  </div>
</nav>

<!--End of Navigation Bar-->
<br>

<div class="container">

  <!--Students form-->
    <form>

        <div class="card w-auto">
            <div class="card-body">
                <div class="form-control-sm">
                    <label for="Name"><strong>Name:</strong></label> &nbsp;
                    <input type="text" id="Name" class="col-3" name="searchname" [(ngModel)]="searchName"> &nbsp; &nbsp; &nbsp; &nbsp;

                    <label for="Year"><strong>Year:</strong></label> &nbsp;
                  <select name="year" class="custom-select col-3" id="year" name="searchyear" [(ngModel)]="searchYear">
                        <option value=""></option>
                        <option value="2018">2018</option>
                        <option value="2021">2021</option>
                    </select> &nbsp; &nbsp; &nbsp; &nbsp;

                  <label for="active" id="active"><strong>Active:</strong></label>&nbsp;
                  <input class="input" type="radio" name="Radios" id="yes" value="Yes" checked [(ngModel)]="searchActive">
                    <label class="form-check-label" for="yes">&nbsp; Yes </label> &nbsp; &nbsp;

                  <input class="input" type="radio" name="Radios" id="no" value="No" [(ngModel)]="searchActive">
                  <label class="form-check-label" for="no" >&nbsp;No </label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <button type="submit" class="btn btn-success" (click)="filterStudent()">Filter</button>

                </div>

            </div>
        </div>

    </form>
  <!--End of Students form-->


<!--Fa-fa plus Student button-->
    <br>
    <div align="right">

         <i class="fas fa-plus" type="button" data-toggle="modal" data-target=" ">&nbsp;Students </i>
    </div>



  <!--Student Table-->
    <table class="table table-sm table-bordered">
        <thead>
        <tr class="bg-success text-white" align="center" >
            <th scope="col" colspan="3" class="text-center"></th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Locality</th>
            <th scope="col">Year</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let students of allStudents; let myIndex = index" align="center">
            <td class="text-center" style="border: hidden"><a class="text-info" title="Load"  [routerLink]="['/students-file', students.id]" ><i class="far fa-file-alt"></i></a></td>
            <td class="text-center" data-toggle="modal" data-target=" " style="border: hidden"><a class="text-danger" title="Edit" (click)="editStudent(students.id)"><i class="fas fa-pencil-alt"></i></a></td>
          <td class="text-center" style="border: hidden"><a class="text-danger" title="Delete" (click)="deleteMsg(myIndex)"><i class="fa fa-times"></i></a></td>


<!--Binding table Data to Students array-->

            <td>{{students.name}}</td>
            <td>{{students.birthday  | date:"MM-dd-yyyy"}}</td>
            <td>{{students.locality}}</td>
            <td>{{students.year}}</td>
            <td>{{students.active}}</td>
        </tr>

        </tbody>
    </table>

</div>

<!--End of Students Table-->



<!-- Start of Student Add modal -->


<!--End of Add Student Modal-->



<!--Start of Edit Student Modal-->


<!--End of Edit Student Modal-->





