<!-- Top Navigation Bar  -->
<nav class="navbar navbar-expand bg-success navbar-dark shadow-sm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">

    </button>
    <div class="collapse navbar-collapse" id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Ubuntu Postgraduate</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Change Application</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Close Session</a> </li>
      </ul>
    </div>
  </div>
</nav>

<!--End of Navigation Bar-->
<br>

<div class="container">

  <!--Students form-->
    <form action="ng-submit" >

        <div class="card w-auto">
            <div class="card-body">
                <div class="form-control-sm">
                    <label for="Name"><strong>Name:</strong></label> &nbsp;
                    <input type="text" id="Name" class="col-4"> &nbsp; &nbsp; &nbsp; &nbsp;

                    <label for="Year"><strong>Year:</strong></label> &nbsp;

                    <select name="year" class="custom-select col-3" id="year">
                        <option value=""></option>
                        <option value="1">2018</option>
                        <option value="1">2021</option>
                    </select> &nbsp; &nbsp; &nbsp; &nbsp;

                  <label for="active" id="active"><strong>Active:</strong></label>&nbsp;

                    <input class="input" type="radio" name="Radios" id="yes" value="option1" checked>
                    <label class="form-check-label" for="yes">&nbsp; Yes </label> &nbsp; &nbsp;

                  <input class="input" type="radio" name="Radios" id="no" value="option1">
                  <label class="form-check-label" for="no" >&nbsp;No </label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <button type="submit" class="btn btn-success">Filter</button>

                </div>

            </div>
        </div>

    </form>
  <!--End of Students form-->


<!--Fa-fa plus Student button-->
    <br>
    <div align="right">

         <i class="fas fa-plus" type="button" data-toggle="modal" data-target="#studentModal">&nbsp;Students </i>
    </div>



  <!--Student Table-->


    <table class="table table-sm table-bordered">
        <thead>
        <tr class="bg-success text-white" align="center" >
            <th scope="col" colspan="3" class="text-center"></th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Locality</th>
            <th scope="col">Year</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let students of newStudent; let id = index" align="center">
            <td class="text-center" style="border: hidden"><a class="text-info" title="Load"  routerLink="/students-file" ><i class="far fa-file-alt"></i></a></td>
            <td class="text-center" data-toggle="modal" data-target="#editModal" style="border: hidden"><a class="text-danger" title="Edit"><i class="fas fa-pencil-alt"></i></a></td>
          <td class="text-center" style="border: hidden"><a class="text-danger" title="Delete" (click)="deleteMsg(id)"><i class="fa fa-times"></i></a></td>

<!--Binding table Data to Students array-->

            <td>{{students.name}}</td>
            <td>{{students.birthday}}</td>
            <td>{{students.locality}}</td>
            <td>{{students.year}}</td>
            <td>{{students.active}}</td>
        </tr>

        </tbody>
    </table>

</div>

<!--End of Students Table-->



<!-- Start Student Add modal -->

<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header btn-success">
        <h5 class="modal-title">New Student</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="ngSubmit" >
          <div class="form-group row">
            <label for="name" class="col-form-label col-2 bg-white text-align:right ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name:</strong></label>
            <div class="col-10">
              <input type="text" class="form-control" name="name" [(ngModel)]="student.name" required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="BirthdayEdit" class="col-form-label col-2 text-align:right">&nbsp;&nbsp;<strong>Birthday:</strong></label>
            <div class="col-5">
              <input type="text" type="date" class="form-control" id="BirthdayEdit" name="birthday"[(ngModel)]="student.birthday">
            </div>
          </div>
          <br>

          <div class="form-group row">

            <label for="locality" class="col-form-label col-2 text-align:right">&nbsp;&nbsp;&nbsp;<strong>Locality:</strong></label>
            <div class="col-10">
              <input type="text" class="form-control" id="locality" name="locality" [(ngModel)]="student.locality" required>
            </div>
          </div>
          <br>

          <div class="form-group row">

            <label for="universityEdit" class="col-form-label col-2 text-align:right"><strong>University:</strong></label>
            <div class="col-10">
              <input type="text" class="form-control" id="universityEditn" name="university" [(ngModel)]="student.university" required>
            </div>
          </div>
          <br>

          <div class="form-group row">
            <label for="year" class="col-form-label col-2 text-align:right">&nbsp;&nbsp; <strong>Year:</strong></label>
            <div class="col-5">
              <select  class="custom-select col-7" name="university" [(ngModel)]="student.year" required>
                <option value="">Select</option>
                <option value="1">2018</option>
                <option value="1">2021</option>
              </select>
            </div>

            <div class="col-sm col-form-label-sm" >
              <label for="active"><strong>Active:</strong></label>&nbsp;
              <input class="input" type="radio" name="Radios" value="Yes" [(ngModel)]="student.active" >
              <label class="form-check-label" for="yes">&nbsp; Yes </label> &nbsp;
              <input class="input" type="radio" name="Radios" value="No" [(ngModel)]="student.active">
              <label class="form-check-label" for="no" >&nbsp;No </label> &nbsp; &nbsp; &nbsp;
              </div>

          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addStudent(student)" >Save</button>
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<!--End of Add Student Modal-->




<!--Start of Edit Student Modal-->

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header btn-success">
        <h5 class="modal-title">Edit Student</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="ngSubmit" >
          <div class="form-group row">
            <label for="name" class="col-form-label col-2 bg-white text-align:right ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name:</strong></label>
            <div class="col-10">
              <input type="text" class="form-control" name="name" [(ngModel)]="student.name" required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="Birthday" class="col-form-label col-2 text-align:right">&nbsp;&nbsp;<strong>Birthday:</strong></label>
            <div class="col-5">
              <input type="text" type="date" class="form-control" id="Birthday" name="birthday"[(ngModel)]="student.birthday">
            </div>
          </div>
          <br>

          <div class="form-group row">

            <label for="locality" class="col-form-label col-2 text-align:right">&nbsp;&nbsp;&nbsp;<strong>Locality:</strong></label>
            <div class="col-10">
              <input type="text" class="form-control" name="locality" [(ngModel)]="student.locality" required>
            </div>
          </div>
          <br>

          <div class="form-group row">

            <label for="UniversityEdit" class="col-form-label col-2 text-align:right"><strong>University:</strong></label>
            <div class="col-10">
              <input type="text" class="form-control" id="UniversityEdit" name="university" [(ngModel)]="student.university" required>
            </div>
          </div>
          <br>

          <div class="form-group row">
            <label for="year" class="col-form-label col-2 text-align:right">&nbsp;&nbsp; <strong>Year:</strong></label>
            <div class="col-5">
              <select  class="custom-select col-7" name="university" [(ngModel)]="student.year" required>
                <option value="">Select</option>
                <option value="1">2018</option>
                <option value="1">2021</option>
              </select>
            </div>

            <div class="col-sm col-form-label-sm" >
              <label for="active"><strong>Active:</strong></label>&nbsp;
              <input class="input" type="radio" name="Radios" value="Yes" [(ngModel)]="student.active" >
              <label class="form-check-label" for="yes">&nbsp; Yes </label> &nbsp;
              <input class="input" type="radio" name="Radios" value="No" [(ngModel)]="student.active">
              <label class="form-check-label" for="no" >&nbsp;No </label> &nbsp; &nbsp; &nbsp;
            </div>

          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addStudent(student)" >Save</button>
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<!--End of Edit Student Modal-->





