<!-- TopNav  -->
<nav class="navbar navbar-expand bg-success navbar-dark shadow-sm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Ubuntu Postgraduate</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Change Application</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Close Session</a> </li>
      </ul>
    </div>
  </div>
</nav>

<br>

<!--Container for card-->
<div class="container">

  <div class="card" style="width: 17rem; height: 17rem">
    <img src="assets/images/user.png" class="card-img-top" alt="...">


    <!--Button linking to students list/form inside the card-->
    <button type="button" class="btn btn-success" routerLink="/students">Students</button>


    <div class="card-body">
    </div>
  </div>
</div>
